$background: theme('colors.background');

$primary: (
	'50': theme('colors.primary.50'),
	'75': theme('colors.primary.75'),
	'100': theme('colors.primary.100'),
	'200': theme('colors.primary.200'),
	'300': theme('colors.primary.300'),
	'400': theme('colors.primary.400'),
	'500': theme('colors.primary.500'),
);

$neutral: (
	'10': theme('colors.neutral.10'),
	'20': theme('colors.neutral.20'),
	'30': theme('colors.neutral.30'),
	'40': theme('colors.neutral.40'),
	'50': theme('colors.neutral.50'),
	'60': theme('colors.neutral.60'),
	'70': theme('colors.neutral.70'),
	'80': theme('colors.neutral.80'),
	'90': theme('colors.neutral.90'),
	'100': theme('colors.neutral.100'),
	'200': theme('colors.neutral.200'),
	'300': theme('colors.neutral.300'),
	'400': theme('colors.neutral.400'),
	'500': theme('colors.neutral.500'),
	'600': theme('colors.neutral.600'),
	'700': theme('colors.neutral.700'),
	'800': theme('colors.neutral.800'),
	'900': theme('colors.neutral.900'),
);
