<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="format-detection" content="telephone=no" />

<meta name="title" content="{{ this.page.meta_title }}" />
<meta name="twitter:title" content="{{ this.page.meta_title }}" />
<meta property="og:title" content="{{ this.page.meta_title }}" />

<meta name="description" content="{{ this.page.meta_description }}" />
<meta name="twitter:description" content="{{ this.page.meta_description }}" />
<meta property="og:description" content="{{ this.page.meta_description }}" />

{% meta %}

<title>{{ this.page.meta_title }}</title>

<link rel="icon" href="{{ settings.favicon|media }}" />

{% partial 'layout/fonts' %} 

{{ vite([ 'src/sass/app.scss' ]) }} 

{% styles %} 

{{ vite([ 'src/js/app.js' ]) }} 

{% framework extras %}
