description = "Default layout"

[webpageSettings]

[cookiesBar]
==
<?php
function onInit()
{
    $themePath = 'themes/' . $this->theme->getDirName() . '/assets';
    $this->layout['styles'] = url(mix('css/app.css', $themePath));
    $this->layout['scripts'] = url(mix('js/app.js', $themePath));
}

function onStart() 
{
    $this['loggedIn'] = BackendAuth::check();
    $this['backendURL'] = Backend::url();
}
?>
==
{% set settings = webpageSettings.record %}

<!DOCTYPE html> 
<html lang="{{ this.site.locale|default('sk') }}">
	<head>
        {% partial 'layout/meta' %}
	</head>
	<body>
        {% component 'cookiesBar' %}

        <main>
            {% page %} 
        </main>
	</body>
</html>