description = "Default layout"

[webpageSettings]

[cookiesBar]
==
<?php
function onStart() 
{
    $this['loggedIn'] = BackendAuth::check();
    $this['backendURL'] = Backend::url();
}
?>
==
{% set settings = webpageSettings.record %}

<!DOCTYPE html> 
<html lang="{{ this.site.locale|default('en') }}">
	<head>
        {% partial 'layout/meta' %}
	</head>
	<body>
        {% component 'cookiesBar' %}
    
        <header>
            {% partial 'layout/navbar' %}
        </header>

        <main>
            {% page %}
        </main>

        <footer>
            {% partial 'layout/footer' %}
        </footer>
	</body>
</html>